@page "/editemployee/{employeeid}"
@inject NavigationManager navigation

<h1>Изменение данных о сотруднике</h1>
<EmployeeDetail ButtonText="Изменить"
                Employee="@employee"
                OnValidSubmit="@Update"/>
@code {
    [Parameter]
    public string EmployeeId { get; set; } = null!;
    private Employee? employee = new();

    protected async override Task OnParametersSetAsync()
    {
        using (HttpClient http = new())
        {
            employee = await http.GetFromJsonAsync<Employee>(
                $"https://localhost:5001/api/employees/{EmployeeId}");
        }
    }

    private async Task Update()
    {
        if (employee is not null)
        {
            using (HttpClient http = new())
            {
                HttpResponseMessage response = await http.PutAsJsonAsync<Employee>(
                    $"https://localhost:5001/api/employees/{EmployeeId}", employee);
                if (response.StatusCode == System.Net.HttpStatusCode.NoContent)
                {
                    navigation.NavigateTo("employees");
                }
            }
        }
    }
}
