@page "/"

<PageTitle>Главная</PageTitle>

<h1>Практика в Blazor</h1>

<p style="font-size: 1.5em">Данное веб-приложение представляет собой смесь применения некоторых практик из обучающего курса по .NET компании DEX.</p>

<p style="font-size: 1.5em">
    Основная цель создания Blazor-приложения заключалась в закреплении обучающего материала и приобретении практических знаний для построения веб-приложений.
</p>

<p style="font-size: 1.5em">В данном веб-приложении реализуются следующие практики: </p>
<ul style="font-size: 1.5em">
    <li>Практика по созданию RESTful API сервиса</li>
    <li>SQL-практика: некоторые SQL-запросы представлены в виде диаграмм</li>
    <li>Практика использования HttpClient для выполнения операций CRUD</li>
</ul>
<SurveyPrompt Title="Практика выполнена специально для компании DEX" />
