@inherits LayoutComponentBase

<PageTitle>BankingService</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="font-size: 1.5em">
            @theTime
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    private string theTime { get; set; } = null!;
    private Timer aTimer = null!;
    private string timeZone = $"(UTC{(TimeZoneInfo.Local.BaseUtcOffset.Hours >= 0 ? "+" : "-")}{TimeZoneInfo.Local.BaseUtcOffset})";

    protected override void OnInitialized() => aTimer = new Timer(Tick!, null, 0, 1000);

    private void Tick(object _)
    {
        theTime = DateTime.Now.ToString("F") + " " + timeZone;
        InvokeAsync(StateHasChanged);
    }
}
